*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    overflow:hidden;
    height: 100vh;
}
.header_name{
    position: absolute;
    min-width: 600px;
    margin-left: 700px;
    margin-top: 400px;
    
}
.main-logo{
    position: absolute;
    color: #ffff;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    font-size: 64px;
}
.button_info{
    min-width: 600px;
    min-height: 100px;
}
.link-info{
    position: absolute;
    left:170px;
    top:300px;

    opacity:0; 
    transition: 1s;
    animation: show 3s 1;
    animation-fill-mode: forwards; 
    animation-delay: 1s;
}
@keyframes show{
    0%{
    opacity:0;
    }
    100% {
    opacity:1;
    }
    }